* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    line-height: 1.5;
    font-family: 'Mulish',
        sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    background: #F5F5F5;
    color: #525252;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: #525252;
    font-weight: 500;
    transition: all 0.25s linear;
}

ul {
    list-style: none;
}

button {
    display: block;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Mulish',
        sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    background: #FEFEFE;
    border: none;
    color: #101828;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.25s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #101828;
    margin-bottom: 2rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
}

section,
footer {
    padding: 3rem 0;
}

.container {
    max-width: 1108px;
    width: 90%;
    margin: 0 auto;
}

nav,
ul,
.stat,
header,
.stats-wrapper,
.column-wrapper,
.partners-column,
header .container,
.testimony-cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links,
.stats-wrapper,
.column-wrapper,
.partners-column,
header .container,
.testimony-cards-wrapper {
    justify-content: space-between;
}

h1,
h3,
h5 {
    text-align: center;
}

h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    line-height: 1.2;
}

h3 {
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.teal {
    background: #163D3C;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    padding: 1.25rem 0;
    background: #F5F5F5;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.close,
.hamburger,
.header-auth,
.auth-links button {
    display: none;
}

.logo {
    transform: translateY(5px);
}

nav ul {
    gap: 2.5rem;
}

header nav a:hover {
    color: #2B7A78;
}

header nav a:hover::before {
        transform: scaleX(1);
}

header nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: #2B7A78;
    z-index: 99999;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
}

.auth-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.auth-links a {
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 1px solid #2B7A78;
    border-radius: 0.5rem;
    background: #2B7A78;
    color: #FEFEFE;
}

.auth-links a:first-child {
    background: none;
    color: #2B7A78;
}

.not-user a:hover,
.auth-links a:hover,
.newsletter-form button:hover {
    transform: translateY(-5px);
}

/* Main Content */
main {
    padding: 6rem 0 0;
}

/* Hero Section */
.hero-text {
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: clamp(1.5rem, 4vw, 3.5rem);
}

.hero-text p {
    font-size: 1.25rem;
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
}

.hero-text .auth-links {
    justify-content: center;
    margin: 2rem 0 2.5rem;
}

.hero-img {
    max-width: 685px;
    width: 100%;
    margin: 0 auto;
}

/* Stats */
.stats-wrapper {
    max-width: 790px;
    width: 100%;
    justify-content: center;
    column-gap: 14.4%;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    margin: 0 auto;
}

.stat {
    background: linear-gradient(105.91deg, rgba(255, 255, 255, 0.5) -0.1%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    color: #FEFEFE;
    border-radius: 1rem;
    width: 187px;
    height: 144px;
    flex-direction: column;
}


.stat h3 {
    color: #FEFEFE;
    margin-bottom: 0;
}

/* Columns Section */
.flow {
    padding-top: 3rem;
}

.divider,
.column-wrapper {
    max-width: 1044px;
    width: 100%;
    margin: 0 auto;
}

.column-wrapper {
    padding: 2.2rem 2rem;
    flex-wrap: wrap;
    column-gap: 9%;
    row-gap: 2rem;
    justify-content: center;
}

.divider {
    margin: 3.3rem auto;
}

.flow .column-wrapper {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.column-text {
    width: 53.6%;
}

.column-img {
    width: 36.8%;
}

.flow a {
    color: #2B7A78;
    margin-top: 1.5rem;
    display: inline-block;
}

.flow a:hover {
    transform: translateX(.5rem);
    border-bottom: 1px solid #2B7A78;
}

.flow a img {
    transform: translate(4px, 4px);
}

.partners {
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
    margin-top: 7.8rem;
}

.partners-column {
    justify-content: center;
    column-gap: 14%;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    margin: 4rem 0 1rem;
}

/* Testimonials */
.testimony-cards-wrapper {
    justify-content: center;
    column-gap: 1.2%;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.testimonials h3 {
    color: #FEFEFE;
    margin-bottom: 4rem;
}

.testimony-card {
    color: #FFF;
    width: 360px;
    background: linear-gradient(105.91deg, rgba(255, 255, 255, 0.5) -0.1%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.3s linear;
}

.testimony-card p {
    text-shadow: 3.24146px 3.24146px 6.48292px rgba(0, 0, 0, 0.25);
}

.testimony-card h5 {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem 0 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.testimony-card small {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.rating {
    font-size: 1rem;
    margin-top: 1.3rem;
}

.rating img {
    transform: translate(0px, 3px);
}

.testimony-card:hover {
    transform: scale(1.15);
    z-index: 2;
}

/* FAQ's Section */
.faqs {
    padding: 2rem 0;
}

.faqs h3 {
    margin-bottom: 3rem;
}

.faq-wrapper {
    max-width: 996px;
    width: 100%;
    margin: 0 auto;
}

.faq {
    background: #FEFEFE;
    height: 52px;
    overflow: hidden;
    padding: 0 1.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    transition: all 0.35s linear;
}

.open {
    height: 130px;
}

.set-height {
    height: auto;
}

.faq .faq-btn {
    font-size: 1.25rem;
    text-align: left;
    padding: .7rem 0;
    margin-bottom: .5rem;
}

.faq-btn img {
    position: absolute;
    right: 0;
    bottom: 7px;
    transition: all 0.3s linear;
    pointer-events: none;
}

.open .faq-btn {
    color: #2B7A78;
}

.open img {
    transform: rotate(-180deg);
}

/* How it works */
.how-it-works {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: -12rem;
    justify-content: center;
}

.how-text {
    padding: 2rem 0 12.5rem;
}

.how-text h3 {
    color: #FEFEFE;
}

.how-card {
    max-width: 296px;
    padding: 3rem 1.5rem;
    background: #FEFEFE;
    border-radius: 1.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.number {
    position: absolute;
    top: -2.2rem;
}

.green-img {
    margin-top: 2rem;
}

.how-card h5 {
    color: #2B7A78;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0 1rem;
}

.auth-links a.how-link {
    background: #2B7A78;
    color: #FEFEFE;
}

/* Start Journey */
.start {
    padding: 1.3rem 0 .3rem;
}

.start p,
.start h3 {
    text-align: center;
    color: #FEFEFE;
}

.start .auth-links {
    justify-content: center;
    margin: 2rem 0 2.5rem;
}

.auth-link a {
    background: #163D3C;
    color: #FEFEFE;
    border: 1px solid #FEFEFE;
}

.start .auth-links a:first-child {
    background: #FEFEFE;
    color: #163D3C;
    border: 1px solid #FEFEFE;
}

/* Newsletter */
.newsletter {
    max-width: 996px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.newsletter p {
    font-size: 1.05rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.newsletter-img {
    display: flex;
    max-width: 506px;
    width: 100%;
    margin: 0 auto 1.5rem;
    justify-content: center;
}

.newsletter-form {
    max-width: 538px;
    margin: 0 auto;
    width: 100%;
}

.newsletter-form button {
    border-radius: .5rem;
    width: 138px;
    padding: .708rem 1rem;
    border: 1px solid #2B7A78;
    background: #2B7A78;
    color: #FEFEFE;
    font-weight: 600;
    margin-top: 1rem;
}

form,
input, textarea,
.newsletter-form button {
    width: 100%;
}

input {
    background: none;
    border-radius: .5rem;
    border: 1px solid #979797;
    font-size: 1rem;
    font-family: inherit;
    padding: .8rem 3rem;
}

textarea {
    background: none;
    border-radius: .5rem;
    border: 1px solid #979797;
    font-size: 1rem;
    font-family: inherit;
    padding: .8rem 1rem;
}

input:focus, textarea:focus {
    outline: 1px solid #2B7A78;
    border: 1px solid #2B7A78;
}

form img {
    position: absolute;
    top: 13px;
    left: 17px;
    z-index: 2;
}

/* Footer */
.footer-links {
    display: flex;
    column-gap: 5%;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.footer-links div:first-child {
    margin-top: .5rem;
}

footer,
footer a,
footer h5 {
    color: #FEFEFE;
    text-align: left;
}

footer h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer ul {
    flex-direction: column;
    text-align: left;
    align-items: normal;
}

footer li {
    margin-bottom: 0.5rem;
}

footer a {
    font-weight: 400;
    font-size: 1rem;
}

footer ul a:hover::before {
    transform: scaleX(1);
}

footer ul a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: #FEFEFE;
    z-index: 99999;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
}

footer p small {
    font-weight: 700;
    font-size: 1rem;
}

.terms {
    max-width: 100%;
    margin: 0;
    justify-content: space-between;
    padding: 0;
    margin-top: 3rem;
}

.terms-links small {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 1.5rem;
}

/* About Us */
.about p {
    max-width: 1024px;
}

.flow a.about-link {
    background: none;
    color: #2B7A78;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 1px solid #2B7A78;
    border-radius: 0.5rem;
}

.flow a.about-link:hover {
    transform: translateX(0);
    transform: translateY(-5px);
}

/* Contact Us */
.contact p {
    max-width: 600px;
}

.flow form img {
    transform: translateY(41px);
}

.flow form label {
    display: inline-block;
    margin: 0.5rem 0 0.35rem;
}

.flow form .form-user {
    transform: translateY(36px);
}

.flow form button {
    display: inline-block;
    background: #2B7A78;
    color: #FEFEFE;
    margin-top: 1.5rem;
    width: 117px;
    padding: .8rem 1rem;
}

.reach-card {
    max-width: 360px;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reach-card h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: .8rem 0;
}

.reach-card small {
    font-size: 0.78rem;
    display: block;
}

.reach-card p {
    font-size: 1rem;
    margin-top: 1rem;
    color: #2B7A78;
}

.reach-us {
    justify-content: space-between;
    margin-bottom: 1rem;
}

.follow-icons {
    display: flex;
    justify-content: center;
    gap: 6%;
}

/* Docs */
section.docs {
margin: 3rem 0 5rem;
}

.doc p {
    max-width: 858px;
}

.docs h3, .docs p {
    color: #2F2F2F;
}

.docs .auth-links a:first-child {
    background: #2B7A78;
    color: #FEFEFE;
    border: 1px solid #2B7A78;
}

.toc {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
}

.toc li p {
    color: #272727;
    font-weight: 700;
    font-size: clamp(.875rem, 4vw, 1.5rem);
}

h2 {
    margin-top: 5rem;
}

.sub-toc {
    list-style-type: disc;
    gap: .2rem;
    margin-top: 1.8rem;
    margin: 1.3rem;
}

.sub-toc li p{
    font-size: 1rem;
    font-weight: 400;
}

.new {
    font-weight: 700;
}

.docs-content div {
    margin: 3rem auto 0;
    max-width: 800px;
    width: 100%;
}

.docs-content div.that-one {
    max-width: 862px;
}

@media screen and (max-width: 425px) {
    .flow form button {
        width: 100%;
    }

    .follow-icons img {
        width: 32px;
    }
}

@media screen and (max-width: 809px) {
    .reach-card {
        box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
        border-radius: 16px;
    }
}

@media screen and (max-width: 899px) {
    .column-wrapper {
        flex-direction: column;
    }

    .column-text,
    .column-img {
        width: 100%;
        text-align: center;
    }

    .order-first {
        order: 1;
    }

    .order-last {
        order: 3;
    }

    .flow-contact {
        max-width: 600px;
        width: 100%;
    }

    .flow-contact .column-text {
        text-align: left;
    }
}

@media screen and (max-width: 869px) {
    header nav {
        position: absolute;
        background: rgba(0, 0, 0, 0.25);
        left: -60rem;
        width: 100vw;
        bottom: -29.5rem;
        justify-content: start;
        height: calc(100vh - 77px);
        transition: all 0.35s linear;
    }

    header nav.show-menu {
        left: -5.5%;
    }

    header nav a {
        font-size: 1rem;
    }

    header ul {
        flex-direction: column;
        padding: 1rem 0;
        align-items: start;
        gap: 1.5rem;
    }

    .inner-nav-wrapper {
        width: 206px;
        background: #fefefe;
        height: calc(100vh - 77px);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2rem 1.5rem;
    }

    .not-user {
        display: none;
    }

    .auth-links button {
        display: block;
        background: transparent;
        padding: 0;
    }

    .header-auth a {
        border: 1px solid #2B7A78;
        padding: .75rem 0;
        text-align: center;
        border-radius: .5rem;
        font-weight: 600;  
        margin-top: 1.125rem;
        width: 158px;
        color: #2B7A78;
        display: inline-block;
    }
    .header-auth div:last-child a {
        background: #2B7A78;
        color: #FEFEFE;
    }

    .header-auth {
        display: block;
    }
}